.order {
  max-width: 727px;
  width: 100%;
  margin: 0 auto;
}
.title__order {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.subtitle__order {
  font-size: 16px;
  font-weight: 400;
  line-height: 131%;
  margin-bottom: 45px;
}
.wrapper__input-user-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.wrapper__input-user-info input {
  border-bottom: 1px solid var(--color-black);
  width: 300px;
  padding-bottom: 10px;
  background: transparent;
}
.wrapper__input-user-info input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-gold);
  transition: var(--transition-active);
}
.title__region,
.title__city,
.title__payment-method,
.title__add-servis {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 35px;
}
.order__choice-region select {
  border: none;
  width: 300px;
  border-bottom: 1px solid var(--color-black);
  padding-bottom: 10px;
}
.order__choice-region select:focus {
  border: none;
  border-bottom: 1px solid var(--color-gold);
  transition: var(--transition-active);
  outline: none;
}
.wrapper__order-about-city {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  margin-bottom: 6.5px;
}
select {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
  opacity: 70%;
}
.order__choice-city select {
  border: none;
  width: 300px;
  border-bottom: 1px solid var(--color-black);
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.order__choice-city select:focus {
  border: none;
  border-bottom: 1px solid var(--color-gold);
  transition: var(--transition-active);
  outline: none;
}
.wrapper__order-about-city .order__choice-city input {
  width: 300px;
  outline: none;
  border-bottom: 1px solid var(--color-black);

  padding-bottom: 10px;
}
.wrapper__order-about-city .order__choice-city input:focus {
  border-bottom: 1px solid var(--color-gold);
  transition: var(--transition-active);
}
.wrapper__payment-method {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.radio__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 15px;
}
.radio__input:checked {
  width: 12px;
  height: 12px;
  background-color: var(--color-gold);
  outline: 2px solid var(--color-gold);
  outline-offset: 3px;
  border: none;
}

.radio__input:hover {
  animation: spin 1s linear infinite;
  border-top-color: var(--color-gold);
}
.wrapper__add-servis {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 70px;
}

.check__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.checkbox {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  margin-left: -30px;
  border: 2px solid var(--color-gray);
}
.check {
  padding-left: 30px;
}
.check__mark {
  position: relative;
  top: -4px;
  left: -1px;
}
.checkbox + .check__input:checked {
  border: 2px solid var(--color-gold);
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  margin-left: -30px;
  background: url(../img/check-mark.svg);
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-position: center;
}
.checkbox:hover {
  border: 2px solid var(--color-gold);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.wrapper__confrim-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time {
  font-size: 96px;
}
.order__button {
  border: 0;
  width: 280px;
  height: 60px;
  background-color: var(--color-red);
  margin-bottom: 15px;
  position: relative;
  color: var(--color-white);
  font-size: 24px;
  z-index: var(--z-top);
}
.order-border {
  position: absolute;
  z-index: var(--z-bottom);
  width: 280px;
  height: 60px;
  position: absolute;
  border: 3px solid var(--color-gold);
  top: 280px;
  left: 25px;
}
.order__button:hover + .order-border {
  background-color: var(--color-white);
  transition: var(--transition-links);
}
