:root {
  --color-gold: #fed100;
  --color-black: #333333;
  --color-gray: #ebebeb;
  --transition-active: all 0.3s ease;
  --color-white: #ffffff;
  --color-red: #ff352b;
  --transition-active: all 0.3s ease;
}
